* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-bottom: 30px;
}

.hide {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #0cab03;
    align-items: center;
    color: #fff;
    margin-bottom: 10px;
}

header label {
    display: none;
}

header form {
    width: 100%;
    max-width: 400px;
}

header input {
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}

.area {
    border: 1px solid #0cab03;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 700px;
    height: 200px;
    overflow-y: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.row input {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0;
}

button {
    padding: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

button span {
    display: none;
}

button:hover span {
    display: inline-block;
}

button:hover {
    color: #0cab03;
}
